body {
  margin: 10%;
  background-image: url('../img/paysage.jpg');
  background-size: auto;

}

h1 {
  font-size: 140%;
}

header {
  color: #ecebe2;
  text-align: center;
  font-size: 150%;
  border-style: groove;
  padding: 15px;
}

header, footer{
	background: #bff2b8;
	background: -moz-linear-gradient(top, #273745 0%, #95abac 100%);
	background: -webkit-linear-gradient(#273745 0%, #95abac 100%);
	background: -o-linear-gradient(#273745 0%, #95abac 100%);
	background: linear-gradient(#273745 0%, #95abac 100%);

}

.half {
  display: inline-block;
  width: 45%;
  float: left;
  margin-right: 2%;
}

.whole {
  clear:both;
}

nav {
  font-size: 120%;
  font-variant: small-caps;
  color: #aba194;
  font-family: arial,fantasy,serif;
}

nav a {
    font-size: 100%;
    width: 22%;
    font-variant: normal;
    display: inline-block;
    color: #223745;
    background: #ecebe2;
    border-radius: 25px;
  }

h2{
  background-color: #aba194;
  color: #ecebe2;
}

footer {
  clear: both;
}

img {
  width:80px;
}
