header {
  background: #acabab;
  background-image: url('../images/flywheel.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  padding: 5px 10px;
  margin: 5px 10px;
}

h1 {
  color: #ecebe2;
  font-size: 200%;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  color: #083ca4;
  text-transform: uppercase;
  display: in
}

nav {
  text-align: center;
}

a {
  background: #999994;
  color:#000000;
}

img {
  display:none;
}

section {
  background: #666666;
}

nav a {
    width: 20%;
    text-align: center;
    font-variant: normal;
    display: inline-block;
    color: #223745;
    background: #ecebe2;
    border-radius: 10px;
    margin: 2%;

    }
