body {
    padding: 5px;
    margin: 10px;
}

header {
	background-color: #B6B6B6;
    background-image: url(../images/flywheel.jpg);
    background-size:cover;
    padding: 20px;
    text-align: center;
}

nav a {
    display: inline-block;
    margin: 10px 5%;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 4%;
    background-color: rgba(700,700,700,0.5);
	color: #000;
}

.active {
    background-color: #fff;
}

h1 {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

h2 {
	color: #000066;
	text-transform: uppercase;
}

.left {
    width: 20%;
    float: left;
    background-color: #606000;
    text-align: center;
}

.right {
    width: 80%;
    float: right;
}

img {
    border: 3px solid black;
    width: 70%;
    margin: 10% 7% 20%;
}